.app-landing-page-child {
  position: absolute;
  top: calc(50% + 292.05px);
  left: calc(50% - 626.15px);
  width: 533.31px;
  height: 443.56px;
}
.app-landing-page-item {
  position: absolute;
  top: calc(50% - 604.24px);
  left: calc(50% - 550.04px);
  width: 537.97px;
  height: 574.04px;
}
.app-landing-page-inner {
  position: absolute;
  top: calc(50% - 1139.95px);
  left: calc(50% - 7.15px);
  width: 533.31px;
  height: 443.56px;
}
.app-landing-page-child1,
.group-icon {
  position: absolute;
  top: calc(50% - 1922.95px);
  left: calc(50% + 447.85px);
  width: 327px;
  height: 443.56px;
}
.app-landing-page-child1 {
  top: calc(50% + 1643.05px);
  left: calc(50% - 720px);
  width: 464.15px;
}
.app-landing-page-child2,
.group-child {
  position: absolute;
  top: calc(50% - 1986.95px);
  left: calc(50% - 678.15px);
  width: 599.31px;
  height: 491.45px;
}
.group-child {
  top: calc(50% + 80.29px);
  left: calc(50% + 0.2px);
  border-radius: var(--br-5xs);
  width: 256px;
  height: 71px;
}
.group-inner,
.group-item {
  position: absolute;
  top: calc(50% - 49.29px);
  left: calc(50% - 109.78px);
  width: 313.02px;
  height: 318.5px;
}
.group-inner {
  top: calc(50% + 95.28px);
  left: calc(50% + 80.1px);
  width: 41.83px;
  height: 41.83px;
}
.group-child1,
.rectangle-div {
  position: absolute;
  top: calc(50% + 80.25px);
  left: calc(50% + 136.59px);
  background-color: var(--color-black);
  width: 1.31px;
  height: 71.23px;
}
.group-child1 {
  left: calc(50% + 62.08px);
}
.rectangle-icon {
  position: absolute;
  top: calc(50% - 143.93px);
  left: calc(50% - 18.34px);
  border-radius: var(--br-5xs);
  width: 264.63px;
  height: 291.9px;
}
.group-child2,
.make-the-best {
  position: absolute;
  transform-origin: 0 0;
}
.make-the-best {
  top: calc(50% + 69.14px);
  left: calc(50% + 24.83px);
  line-height: 18.3px;
  text-transform: capitalize;
  font-weight: 600;
  transform: rotate(-45.74deg);
}
.group-child2 {
  top: calc(50% + 93.89px);
  left: calc(50% - 252.65px);
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-black);
  width: 534.32px;
  height: 71.43px;
  transform: rotate(-28deg);
}
.group-child3 {
  position: absolute;
  top: calc(50% - 31.07px);
  left: calc(50% - 104.69px);
  width: 42.42px;
  height: 42.42px;
}
.finance {
  top: calc(50% - 18.65px);
  left: calc(50% - 85px);
  line-height: 18.3px;
  text-transform: capitalize;
  font-weight: 600;
}
.finance,
.finance-parent,
.group-div,
.most-popular-accounting {
  position: absolute;
  transform: rotate(-28deg);
  transform-origin: 0 0;
}
.most-popular-accounting {
  top: calc(50% - 2.49px);
  left: calc(50% - 76.41px);
  line-height: 18.3px;
  text-transform: capitalize;
  font-weight: 500;
}
.finance-parent,
.group-div {
  top: calc(50% - 38.28px);
  left: calc(50% - 68.98px);
  width: 170px;
  height: 37.3px;
}
.group-div {
  top: calc(50% - 143.83px);
  left: calc(50% - 3.8px);
  width: 211.83px;
}
.group-child4 {
  position: absolute;
  top: calc(50% - 31.07px);
  left: calc(50% - 106.69px);
  width: 42.42px;
  height: 42.42px;
}
.achievements {
  top: calc(50% - 18.65px);
  left: calc(50% - 87px);
  line-height: 18.3px;
  text-transform: capitalize;
  font-weight: 600;
}
.achievements,
.achievements-parent,
.best-finance-app,
.group-parent1 {
  position: absolute;
  transform: rotate(-28deg);
  transform-origin: 0 0;
}
.best-finance-app {
  top: calc(50% - 2.49px);
  left: calc(50% - 78.41px);
  line-height: 18.3px;
  text-transform: capitalize;
  font-weight: 500;
}
.achievements-parent,
.group-parent1 {
  top: calc(50% - 38.29px);
  left: calc(50% - 70.98px);
  width: 174px;
  height: 37.3px;
}
.group-parent1 {
  top: calc(50% - 18.65px);
  left: calc(50% - 239.23px);
  width: 215.83px;
}
.group-container,
.line-icon {
  position: absolute;
  top: calc(50% - 135.89px);
  left: calc(50% - 18.76px);
  width: 2.07px;
  height: 40.52px;
}
.group-container {
  top: calc(50% + 97.24px);
  left: calc(50% - 222.59px);
  width: 478.46px;
  height: 37.3px;
  transform: rotate(-28deg);
  transform-origin: 0 0;
}
.rectangle-parent {
  position: absolute;
  top: calc(50% - 156.96px);
  left: calc(50% - 256.18px);
  width: 505.31px;
  height: 313.92px;
  color: var(--color-white);
}
.free-trial,
.uifry-premium {
  position: absolute;
  top: calc(50% - 19.3px);
  left: calc(50% - 43px);
  line-height: 18.3px;
  text-transform: capitalize;
  font-weight: 600;
}
.free-trial {
  top: calc(50% + 0.3px);
  font-size: 10.46px;
  font-weight: 500;
}
.uifry-premium-parent,
.vector-parent {
  position: absolute;
  top: calc(50% + 96.59px);
  left: calc(50% + 153.58px);
  width: 86px;
  height: 38.61px;
}
.vector-parent {
  top: calc(50% - 178.87px);
  left: calc(50% - 227.86px);
  width: 512.36px;
  height: 313.92px;
}
.a {
  position: absolute;
  top: calc(50% + 84.39px);
  left: calc(50% - 284.5px);
  font-size: 106.38px;
  line-height: 106.38px;
  text-transform: capitalize;
  transform: rotate(-28deg);
  transform-origin: 0 0;
}
.group-parent {
  position: absolute;
  top: calc(50% - 2419.75px);
  left: calc(50% - 579px);
  width: 569px;
  height: 357.74px;
  font-size: 11.76px;
}
.app-landing-page-child3 {
  position: absolute;
  top: calc(50% - 2812.5px);
  left: calc(50% + 143.19px);
  width: 566.85px;
  height: 764.12px;
}
.app-landing-page-child4,
.rectangle-icon1 {
  position: absolute;
  top: 52px;
  left: 241px;
  width: 517px;
  height: 430px;
}
.rectangle-icon1 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 8220px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 192px;
  left: calc(50% - 545px);
  width: 719.49px;
  height: 719.49px;
}
.frame-item {
  top: 0;
  left: calc(50% + 185px);
}
.ready-to-get,
.risus-habitant-leo {
  position: absolute;
  left: calc(50% - 273.5px);
  text-transform: capitalize;
}
.ready-to-get {
  top: 0;
  font-size: var(--font-size-29xl);
  line-height: 48px;
}
.risus-habitant-leo {
  top: 64px;
  line-height: 28px;
  display: inline-block;
  width: 536px;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: calc(50% - 104px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 208px;
  height: 60px;
}
.vector-icon {
  position: absolute;
  top: 0;
  left: calc(50% + 56.61px);
  width: 25.77px;
  height: 31.64px;
}
.download-app {
  position: absolute;
  top: 0;
  left: calc(50% - 63.5px);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
}
.download-app-wrapper {
  position: absolute;
  top: 2px;
  left: calc(50% - 82.39px);
  width: 127px;
  height: 28px;
}
.rectangle-group,
.vector-group {
  position: absolute;
  top: 14px;
  left: calc(50% - 82px);
  width: 164.77px;
  height: 31.64px;
}
.rectangle-group {
  top: 136px;
  left: calc(50% - 273.5px);
  width: 208px;
  height: 60px;
  color: var(--color-black);
}
.frame-child1,
.frame-inner,
.ready-to-get-started-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 273.5px);
  width: 547px;
  height: 196px;
}
.frame-child1,
.frame-inner {
  top: 156px;
  left: calc(50% - 468px);
}
.frame-child1 {
  top: 36.21px;
  left: calc(50% + 145.6px);
  width: 399.4px;
  height: 471.79px;
}
.iphone-13-pro {
  position: absolute;
  height: 90.53%;
  width: 54.22%;
  top: 4.72%;
  right: -8.26%;
  bottom: 4.74%;
  left: 54.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child2,
.star-icon {
  position: absolute;
  top: 34px;
  left: calc(50% + 105.57px);
  width: 64px;
  height: 64px;
}
.frame-child2 {
  top: 350.56px;
  left: calc(50% - 122.76px);
  width: 45.09px;
  height: 45.09px;
}
.frame,
.frame-icon {
  position: absolute;
  border-radius: var(--br-5xs);
}
.frame {
  top: calc(50% + 1833.21px);
  left: calc(50% - 545px);
  background-color: var(--color-black);
  width: 1090px;
  height: 508px;
  overflow: hidden;
  color: var(--color-white);
}
.frame-icon {
  top: calc(50% - 2886.5px);
  left: calc(50% + 103px);
  width: 617px;
  height: 903.65px;
  object-fit: cover;
}
.cum-et-convallis,
.make-the-best1 {
  position: absolute;
  left: calc(50% - 545px);
  text-transform: capitalize;
  display: inline-block;
}
.make-the-best1 {
  top: calc(50% - 2728.5px);
  font-size: 64px;
  line-height: 64px;
  width: 618px;
}
.cum-et-convallis {
  top: calc(50% - 2576.5px);
  line-height: 28px;
  font-weight: 500;
  width: 638px;
  opacity: 0.5;
}
.group-child6 {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 90px);
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  width: 180px;
  height: 60px;
}
.get-started {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 67px);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child7 {
  position: absolute;
  top: calc(50% - 3.68px);
  left: calc(50% + 43px);
  width: 24.5px;
  height: 7.36px;
}
.get-started-parent {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 67px);
  width: 134px;
  height: 28px;
}
.rectangle-container {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 187px);
  width: 180px;
  height: 60px;
}
.group-child8,
.watch-video {
  position: absolute;
  top: calc(50% - 14.5px);
}
.group-child8 {
  left: calc(50% - 77px);
  width: 29px;
  height: 29px;
}
.watch-video {
  left: calc(50% - 34px);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-parent2,
.group-parent3 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% + 33px);
  width: 154px;
  height: 29px;
  color: var(--color-black);
}
.group-parent2 {
  top: calc(50% - 2496.5px);
  left: calc(50% - 545px);
  width: 374px;
  height: 60px;
  color: var(--color-white);
}
.app-landing-page-child5,
.app-landing-page-child6 {
  position: absolute;
  top: calc(50% - 2814.94px);
  left: calc(50% - 663.76px);
  width: 45.09px;
  height: 45.09px;
}
.app-landing-page-child6 {
  top: calc(50% - 2361.94px);
  left: calc(50% - 428.76px);
}
.iphone-13-pro-front-icon,
.iphone-13-pro-front-icon1 {
  position: absolute;
  top: calc(50% - 2802.5px);
  left: calc(50% + 121px);
  width: 571.8px;
  height: 752.42px;
  object-fit: cover;
}
.iphone-13-pro-front-icon1 {
  top: calc(50% - 2879.5px);
  left: calc(50% - 1px);
  width: 571.28px;
  height: 751.65px;
}
.about-us,
.home {
  position: relative;
  line-height: 26px;
  text-transform: capitalize;
}
.home {
  color: var(--color-tomato);
}
.about-us {
  font-weight: 500;
}
.auto-layout-horizontal {
  position: absolute;
  top: calc(50% - 13.2px);
  left: calc(50% - 110.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.tm {
  position: absolute;
  top: calc(50% - 7.2px);
  left: calc(50% + 49.5px);
  font-weight: 800;
  display: inline-block;
  width: 9px;
  height: 5px;
}
.group,
.group-icon1 {
  position: absolute;
  top: calc(50% - 17.2px);
  left: calc(50% - 58.5px);
  width: 106.18px;
  height: 34.41px;
}
.group {
  left: calc(50% - 267.5px);
  width: 117px;
  font-size: 4.15px;
  font-family: var(--font-plus-jakarta-sans);
}
.auto-layout-horizontal-parent {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 545px);
  width: 535px;
  height: 34.41px;
}
.download,
.download-wrapper {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 44px);
}
.download {
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
}
.download-wrapper {
  width: 88px;
  height: 28px;
}
.rectangle-parent1 {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% + 365px);
  width: 180px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.group-parent4 {
  position: absolute;
  top: calc(50% - 2903.5px);
  left: calc(50% - 545px);
  width: 1090px;
  height: 60px;
  font-size: var(--font-size-xl);
}
.what-our-users {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 227.5px);
  line-height: 48px;
  text-transform: capitalize;
  display: inline-block;
  width: 455px;
}
.testimonial {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 74.5px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
}
.what-our-users-say-about-us-parent {
  position: absolute;
  top: calc(50% - 410.5px);
  left: calc(50% - 179.5px);
  width: 455px;
  height: 128px;
}
.arcu-at-dictum,
.the-best-financial {
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  width: 442px;
}
.arcu-at-dictum {
  position: absolute;
  top: calc(50% - 116px);
  left: calc(50% - 221px);
  font-weight: 500;
  opacity: 0.5;
}
.the-best-financial {
  top: calc(50% - 196px);
  font-size: var(--font-size-9xl);
  font-weight: 600;
}
.group-child10,
.nick-jonas,
.the-best-financial {
  position: absolute;
  left: calc(50% - 221px);
}
.group-child10 {
  top: calc(50% + 104px);
  width: 192px;
  height: 40px;
}
.nick-jonas {
  top: calc(50% + 168px);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.arcu-at-dictum-sapien-mollis-parent {
  position: absolute;
  top: calc(50% - 211.5px);
  left: calc(50% + 150.5px);
  width: 442px;
  height: 392px;
}
.group-child11,
.group-parent5,
.group-parent6 {
  position: absolute;
  top: calc(50% - 356.5px);
  left: calc(50% - 592.5px);
  width: 734.35px;
  height: 724.24px;
}
.group-parent5,
.group-parent6 {
  top: calc(50% - 302.5px);
  width: 1185px;
  height: 713px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.group-parent5 {
  top: calc(50% + 38.21px);
  left: calc(50% - 640px);
  height: 821px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.group-child12 {
  position: absolute;
  top: calc(50% - 1296.09px);
  left: calc(50% + 631.57px);
  width: 64px;
  height: 64px;
}
.group-child13,
.group-child14,
.group-child15 {
  position: absolute;
  top: calc(50% - 94.09px);
  left: calc(50% + 397.57px);
  width: 64px;
  height: 64px;
}
.group-child14,
.group-child15 {
  top: calc(50% + 985.91px);
  left: calc(50% + 40.57px);
}
.group-child15 {
  top: calc(50% + 1733.91px);
  left: calc(50% + 584.57px);
}
.group-child16,
.group-child17,
.group-child18,
.group-child19 {
  position: absolute;
  top: calc(50% - 1872.53px);
  left: calc(50% - 683.76px);
  width: 45.09px;
  height: 45.09px;
}
.group-child17,
.group-child18,
.group-child19 {
  top: calc(50% - 713.53px);
  left: calc(50% - 98.76px);
}
.group-child18,
.group-child19 {
  top: calc(50% + 759.47px);
  left: calc(50% - 681.76px);
}
.group-child19 {
  top: calc(50% + 1957.47px);
}
.features1,
.uifry-premium1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 179.5px);
  line-height: 48px;
  text-transform: capitalize;
}
.features1 {
  top: calc(50% - 40px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-tomato);
}
.uifry-premium-group {
  position: absolute;
  top: calc(50% - 232px);
  left: calc(50% - 319px);
  width: 359px;
  height: 80px;
  font-size: var(--font-size-29xl);
}
.budgeting-intervals {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 71.5px);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.star-05-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 103.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.budgeting-intervals-parent {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 319px);
  width: 207px;
  height: 28px;
}
.cum-et-convallis1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 319px);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 638px;
  opacity: 0.5;
}
.group-parent10,
.group-parent11,
.group-parent9 {
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 319px);
  width: 638px;
  height: 96px;
}
.group-parent10,
.group-parent11 {
  top: calc(50% + 8px);
}
.group-parent11 {
  top: calc(50% + 136px);
}
.group-child20,
.group-parent8 {
  position: absolute;
  top: calc(50% - 231.74px);
  left: calc(50% + 23px);
  width: 638px;
  height: 464px;
}
.group-child20 {
  top: calc(50% - 359.74px);
  left: calc(50% - 661px);
  width: 719.49px;
  height: 760.32px;
  object-fit: cover;
}
.group-parent7 {
  position: absolute;
  top: calc(50% - 2012.8px);
  left: calc(50% - 694px);
  width: 1322px;
  height: 719.49px;
}
.advatnages,
.why-choose-uifry {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 235px);
  line-height: 48px;
  text-transform: capitalize;
}
.advatnages {
  top: calc(50% - 40px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-tomato);
}
.why-choose-uifry-parent {
  position: absolute;
  top: calc(50% - 161.5px);
  left: calc(50% - 267.5px);
  width: 470px;
  height: 80px;
}
.arcu-at-dictum1,
.clever-notifications {
  position: absolute;
  line-height: 28px;
  text-transform: capitalize;
}
.arcu-at-dictum1 {
  top: calc(50% - 34.5px);
  left: calc(50% - 267.5px);
  font-weight: 500;
  display: inline-block;
  width: 535px;
  opacity: 0.5;
}
.clever-notifications {
  top: calc(50% - 14px);
  left: calc(50% - 105px);
  font-weight: 600;
}
.group-child21 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 168px);
  width: 48px;
  height: 48px;
}
.arcu-at-dictum-sapien-mollis-group,
.clever-notifications-parent {
  position: absolute;
  top: calc(50% - 105.5px);
  left: calc(50% - 267.5px);
  width: 336px;
  height: 48px;
  font-size: var(--font-size-9xl);
}
.arcu-at-dictum-sapien-mollis-group {
  top: calc(50% - 49.5px);
  width: 535px;
  height: 211px;
  font-size: var(--font-size-lg);
}
.group-child22,
.group-parent13 {
  position: absolute;
  top: calc(50% - 161.74px);
  left: calc(50% - 619.74px);
  width: 535px;
  height: 323px;
}
.group-child22 {
  top: calc(50% - 359.74px);
  left: calc(50% - 99.74px);
  width: 719.49px;
  height: 760.02px;
  object-fit: cover;
}
.group-parent12 {
  position: absolute;
  top: calc(50% - 1373.31px);
  left: calc(50% - 565px);
  width: 1239.49px;
  height: 719.49px;
  font-size: var(--font-size-29xl);
}
.on-hold-child {
  position: absolute;
  top: calc(50% - 30.73px);
  left: calc(50% - 100.5px);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
  width: 201px;
  height: 61.47px;
}
.on-hold-item {
  position: absolute;
  top: calc(50% - 20.28px);
  left: calc(50% - 90.05px);
  border-radius: 12.29px;
  width: 40.57px;
  height: 40.57px;
  object-fit: cover;
}
.b,
.from-adom,
.on-hold1 {
  position: absolute;
  top: calc(50% - 18.44px);
  left: calc(50% + 57.47px);
  line-height: 7.38px;
}
.b,
.from-adom {
  top: calc(50% - 14.95px);
  left: calc(50% - 30.5px);
  letter-spacing: 0.61px;
  line-height: 14.75px;
}
.from-adom {
  top: calc(50% + 5.95px);
  font-size: 8.61px;
  letter-spacing: 0.31px;
  line-height: 8.61px;
  color: #888b92;
}
.on-hold,
.parent {
  position: absolute;
  top: calc(50% - 14.75px);
  left: calc(50% - 37.19px);
  width: 61px;
  height: 29.9px;
  text-align: left;
  font-size: 14.75px;
  color: #191d2a;
}
.on-hold {
  top: calc(50% - 1033.09px);
  left: calc(50% + 302px);
  width: 201px;
  height: 61.47px;
  text-align: center;
  font-size: 7.38px;
  color: red;
  font-family: var(--font-nunito-sans);
}
.arcu-at-dictum2,
.fully-customizable {
  position: absolute;
  line-height: 28px;
  text-transform: capitalize;
}
.arcu-at-dictum2 {
  top: calc(50% - 34.5px);
  left: calc(50% - 281px);
  font-weight: 500;
  display: inline-block;
  width: 562px;
  opacity: 0.5;
}
.fully-customizable {
  top: calc(50% - 14px);
  left: calc(50% - 99.5px);
  font-weight: 600;
}
.fully-customizable-parent,
.group-child23 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 162.5px);
  width: 48px;
  height: 48px;
}
.fully-customizable-parent {
  top: calc(50% - 105.5px);
  left: calc(50% - 281px);
  width: 325px;
  font-size: var(--font-size-9xl);
}
.arcu-at-dictum-sapien-mollis-container,
.group-wrapper {
  position: absolute;
  top: calc(50% - 105.5px);
  left: calc(50% - 281px);
  width: 562px;
  height: 211px;
}
.group-wrapper {
  top: calc(50% - 105.74px);
  left: calc(50% + 60px);
}
.group-child24,
.group-parent15 {
  position: absolute;
  top: calc(50% - 359.74px);
  left: calc(50% - 622px);
}
.group-child24 {
  width: 719.49px;
  height: 760.32px;
  object-fit: cover;
}
.group-parent15 {
  width: 1244px;
  height: 719.49px;
}
.rectangle {
  position: absolute;
  height: 99.98%;
  width: 99.91%;
  top: 0;
  right: 0.09%;
  bottom: 0.02%;
  left: 0;
  border-radius: 16px;
  background-color: var(--color-black);
}
.frame1 {
  position: absolute;
  top: calc(50% - 79.66px);
  left: calc(50% - 130.15px);
  border-radius: 8.64px;
  backdrop-filter: blur(27.89px);
  width: 260.3px;
  height: 159.31px;
}
.div,
.div1,
.valid-thru {
  position: absolute;
  letter-spacing: 0.08em;
}
.div {
  top: calc(50% + 22.41px);
  left: calc(50% - 112.33px);
  font-weight: 500;
}
.div1,
.valid-thru {
  top: calc(50% - 6.5px);
  left: calc(50% + 1.56px);
}
.valid-thru {
  top: calc(50% - 2.18px);
  left: calc(50% - 33.54px);
  font-size: 4.78px;
  line-height: 100%;
}
.group2 {
  position: absolute;
  top: calc(50% + 52.11px);
  left: calc(50% - 111.81px);
  width: 67.12px;
  height: 13px;
  font-size: 10.36px;
}
.credit-cardvisa-typewhite,
.tm1 {
  position: absolute;
  top: calc(50% - 63.46px);
  left: calc(50% + 67.51px);
  width: 44.35px;
  height: 14.58px;
}
.tm1 {
  top: calc(50% - 3.47px);
  left: calc(50% + 23.77px);
  font-weight: 800;
  display: inline-block;
  width: 4.32px;
  height: 2.7px;
}
.group-icon2,
.group1,
.group3 {
  position: absolute;
  top: calc(50% - 8.33px);
  left: calc(50% - 28.07px);
  width: 50.78px;
  height: 16.66px;
}
.group1,
.group3 {
  top: calc(50% - 64.54px);
  left: calc(50% - 112.33px);
  width: 56.14px;
  font-size: 1.99px;
  font-family: var(--font-plus-jakarta-sans);
}
.group1 {
  top: calc(50% - 135.01px);
  left: calc(50% - 363px);
  width: 260.3px;
  height: 159.31px;
  font-size: 12.75px;
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.group-parent14,
.star-parent {
  position: absolute;
  top: calc(50% - 733.82px);
  left: calc(50% - 692px);
  width: 1244px;
  height: 719.49px;
}
.star-parent {
  top: calc(50% - 2000.5px);
  left: calc(50% - 674px);
  width: 1388px;
  height: 4025.59px;
}
.faq,
.frequently-asked-questions {
  position: absolute;
  left: calc(50% - 248.5px);
}
.frequently-asked-questions {
  top: calc(50% - 32px);
  line-height: 48px;
  text-transform: capitalize;
  display: inline-block;
  width: 497px;
}
.faq {
  top: calc(50% - 64px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-tomato);
}
.frequently-asked-questions-parent {
  position: absolute;
  top: calc(50% - 375.5px);
  left: calc(50% - 545px);
  width: 497px;
  height: 128px;
}
.group-child25 {
  position: absolute;
  top: calc(50% - 90.5px);
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 535px;
  height: 181px;
}
.arcu-at-dictum3,
.the-best-financial1 {
  position: absolute;
  left: calc(50% - 237px);
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
}
.arcu-at-dictum3 {
  top: calc(50% + 4px);
  font-weight: 500;
  width: 466px;
  opacity: 0.5;
}
.the-best-financial1 {
  top: calc(50% - 60px);
  font-size: var(--font-size-9xl);
  font-weight: 600;
  text-align: left;
  width: 474px;
}
.arcu-at-dictum-sapien-mollis-parent1 {
  position: absolute;
  top: calc(50% - 59.5px);
  left: calc(50% - 236.5px);
  width: 474px;
  height: 120px;
}
.group-child26,
.rectangle-parent2 {
  position: absolute;
  top: calc(50% - 291.5px);
  left: 555px;
  width: 535px;
  height: 181px;
}
.group-child26 {
  top: calc(50% - 90.5px);
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato);
}
.arcu-at-dictum4 {
  position: absolute;
  top: calc(50% + 4px);
  left: calc(50% - 237px);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 466px;
}
.rectangle-parent3 {
  position: absolute;
  top: calc(50% - 90.5px);
  left: 555px;
  width: 535px;
  height: 181px;
  color: var(--color-white);
}
.rectangle-parent4,
.rectangle-parent5 {
  position: absolute;
  top: calc(50% + 110.5px);
  left: 555px;
  width: 535px;
  height: 181px;
}
.rectangle-parent5 {
  top: calc(50% - 291.5px);
  left: 0;
  color: var(--color-white);
}
.rectangle-parent6,
.rectangle-parent7 {
  position: absolute;
  top: calc(50% - 90.5px);
  left: 0;
  width: 535px;
  height: 181px;
}
.rectangle-parent7 {
  top: calc(50% + 110.5px);
  color: var(--color-white);
}
.group-parent17 {
  position: absolute;
  top: calc(50% - 207.5px);
  left: 0;
  width: 1090px;
  height: 583px;
  text-align: justify;
  font-size: var(--font-size-lg);
}
.group-parent16 {
  position: absolute;
  top: calc(50% + 927.21px);
  left: calc(50% - 545px);
  width: 1090px;
  height: 751px;
  font-size: var(--font-size-29xl);
}
.copyright-2022-uifrycom {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 176px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.frame2 {
  position: absolute;
  top: calc(50% + 99px);
  left: calc(50% - 545.5px);
  width: 1090px;
  height: 104px;
  overflow: hidden;
}
.live-chat,
.product,
.reveiws,
.take-tour {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 64px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.live-chat,
.product,
.reveiws {
  top: calc(50% + 16px);
}
.product,
.reveiws {
  top: calc(50% + 58px);
}
.product {
  top: calc(50% - 84px);
  font-size: var(--font-size-13xl);
  line-height: 42px;
}
.group4 {
  position: absolute;
  top: calc(50% - 203px);
  left: calc(50% + 12.5px);
  width: 128px;
  height: 168px;
}
.terms-of-use {
  position: absolute;
  top: calc(50% - 26px);
}
.cookie-policy,
.privacy-policy,
.terms-of-use {
  left: calc(50% - 54px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.privacy-policy {
  position: absolute;
  top: calc(50% + 16px);
}
.cookie-policy {
  top: calc(50% + 58px);
}
.cookie-policy,
.group5,
.legal {
  position: absolute;
}
.legal {
  top: calc(50% - 84px);
  left: calc(50% - 54px);
  font-size: var(--font-size-13xl);
  line-height: 42px;
  text-transform: capitalize;
  font-weight: 500;
}
.group5 {
  top: calc(50% - 203px);
  left: calc(50% - 160.5px);
  width: 108px;
  height: 168px;
}
.about-us1,
.blog,
.bookings,
.home1,
.links {
  position: absolute;
  top: calc(50% - 47px);
  left: calc(50% - 38px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.about-us1,
.blog,
.bookings,
.links {
  top: calc(50% - 5px);
}
.blog,
.bookings,
.links {
  top: calc(50% + 37px);
}
.blog,
.links {
  top: calc(50% + 79px);
}
.links {
  top: calc(50% - 105px);
  left: calc(50% - 41px);
  font-size: var(--font-size-13xl);
  line-height: 42px;
  text-align: center;
}
.group6 {
  top: calc(50% - 203px);
  left: calc(50% - 307.5px);
  width: 82px;
  height: 210px;
}
.group6,
.group8,
.tm2 {
  position: absolute;
}
.tm2 {
  top: calc(50% - 7.2px);
  left: calc(50% + 49.5px);
  font-weight: 500;
  display: inline-block;
  width: 9px;
  height: 5px;
}
.group8 {
  top: calc(50% - 59px);
  left: calc(50% - 86.5px);
  width: 117px;
  height: 34.41px;
  font-size: 4.15px;
  color: #262626;
}
.helpfrybixcom {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 54px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.frame-icon1 {
  top: calc(50% - 12px);
  left: calc(50% - 86px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div2,
.frame-icon1,
.group9 {
  position: absolute;
}
.group9 {
  top: calc(50% - 9px);
  left: calc(50% - 86.5px);
  width: 172px;
  height: 26px;
}
.div2 {
  top: calc(50% - 13px);
  left: calc(50% - 54.5px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.frame-icon2,
.group10,
.group7 {
  position: absolute;
  left: calc(50% - 86.5px);
}
.frame-icon2 {
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group10,
.group7 {
  top: calc(50% + 33px);
  width: 173px;
  height: 26px;
}
.group7 {
  top: calc(50% - 203px);
  left: calc(50% - 545.5px);
  height: 118px;
}
.newsletter {
  top: calc(50% - 90.5px);
  font-size: var(--font-size-13xl);
  line-height: 42px;
  text-transform: capitalize;
  font-weight: 500;
}
.newsletter,
.rectangle1,
.stay-up-to {
  position: absolute;
  left: calc(50% - 170px);
}
.stay-up-to {
  top: calc(50% - 32.5px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.rectangle1 {
  top: calc(50% - 40.5px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: var(--s);
  width: 340px;
  height: 81px;
}
.your-email {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 146px);
  line-height: 26px;
  font-weight: 500;
}
.rectangle2 {
  position: absolute;
  top: calc(50% - 30.5px);
  left: calc(50% - 80px);
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  width: 160px;
  height: 61px;
}
.subscribe {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 40px);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.group11 {
  position: absolute;
  top: calc(50% - 30.5px);
  left: calc(50% - 0px);
  width: 160px;
  height: 61px;
  color: var(--color-white);
}
.rectangle-parent8 {
  position: absolute;
  top: calc(50% + 9.5px);
  left: calc(50% - 170px);
  width: 340px;
  height: 81px;
  color: #81848a;
}
.frame-parent,
.newsletter-parent {
  position: absolute;
  top: calc(50% - 203px);
  left: calc(50% + 205.5px);
  width: 340px;
  height: 181px;
}
.frame-parent {
  top: calc(50% + 2496.21px);
  left: calc(50% - 545px);
  width: 1091px;
  height: 406px;
  font-size: var(--font-size-base);
}
.app-landing-page {
  position: relative;
  border-radius: 50px;
  background-color: var(--color-white);
  width: 100%;
  height: 5887px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
